<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>

{% if template contains "index" %}
	{% render "index-css" %}
{% elsif template contains "collection" %}
	{% render "collection-css" %}
{% elsif template contains "product" %}
	{% render "product-css" %}
{% else %}
	{% render "critical-css" %}
{% endif %}
<style class="critical2">.popup_apt{display:none}</style> 
<!-- Google Tag Manager -->
  <script type="lazyload2">
    window.dataLayer = window.dataLayer || [];
</script>
<script type="lazyload2">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K7NT997');</script>
<!-- End Google Tag Manager -->
  <meta name="facebook-domain-verification" content="lospgbl5i4vnpl9fcmvn3kyutdpahh" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Global site tag (gtag.js) - Google Ads: 969046524 -->
<script type="lazyload2" data-src="https://www.googletagmanager.com/gtag/js?id=AW-969046524"></script>
<script type="lazyload2">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-969046524');
</script>
  {% include 'social-meta-tags' %}

<!-- FONT FILE LINK -->

<link rel="stylesheet" href="https://use.typekit.net/vxz1fgr.css">
<link href="//fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <link data-href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet" />
  <link data-href="{{ 'style.css' | asset_url }}" rel="stylesheet" />
  <link data-href="{{ 'jquery.mCustomScrollbar.css' | asset_url }}" rel="stylesheet" />

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

    {%- if template.name == 'product' -%}
  <link data-href="{{ 'easy-responsive-tabs2.css' | asset_url }}" rel="stylesheet" />
  <script>
      $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
  </script>
  {%- endif -%}
  
   {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

 <script src="{{ 'jquery.mCustomScrollbar.concat.min.js' | asset_url }}" defer="defer"></script>

     {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
    	{{ content_for_header }}
        {%- else -%}
    	{% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
    	{{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
    	<script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
    {%- endif -%}

{%- include 'bold-common' -%}

  <style>
.popup_apt{background:rgba(0, 0, 0, 0.2);top:0;left:0;z-index:8999999990;position:fixed;width:100%;height:100%;margin:auto;}
.popup_apt1 .btn1_3{margin-top:10px;}
.popup_apt1{ width:549px;line-height:25px; text-align:justify;display:table;margin:auto; position:relative;top:0%;margin-top:5%;}
.popup_apt1 .btn_4 {  float: right;
    text-align: right;
    background-color: #bba675;
    border-radius: 50%;
    color: white;
    justify-content: center;
    position: relative;
    right: 0px;
    top: 15px;
    padding: 0px 10px 4px 10px;
    text-align: center;
    }
.popup_apt1 a {font-size: 20px;text-decoration: none;color: #fff;cursor: pointer;text-align: center;}
    .popup_apt1 a:hover{color: #fff;}
    @media only screen and (max-width:550px)  {
      .popup_apt1{width:auto;}}
  </style>
  
{% include 'scapp-customerinfo' %} 
</head>

<body class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
           <input type="hidden" name="type" value="product,article" />
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  </ul>
  {%- include 'bold-currency-converter' -%}
  
<!--
   <div class="powr-popup" id="f14813bb_1629971195"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
   -->

 
<div class="popup_apt " id="augcust_popup" >
<div class="popup_apt1">
 <div class="btn_4"><a href="javascript:void(0);" onclick="accept();">x</a></div>
<div class="powr-form-builder" id="223ed19c_1630501734"></div>
<script type="lazyload2" data-src="https://www.powr.io/powr.js?platform=shopify"></script>
</div></div>
{{ 'wnw-optimization.js' | asset_url | script_tag }}
</body>
</html>

<script type="lazyload2">
  setTimeout(function () {
  checkCookie();
   var username = "augpop-cookie";
  setCookie("username", username, 1);
  });

  function setCookie(c_name, value, exdays) {
  var exdate = new Date();
  exdate.setDate(exdate.getDate() + exdays);
  var c_value = escape(value) + ((exdays == null) ? "" : ("; expires=" + exdate.toUTCString()));
  document.cookie = c_name + "=" + c_value;
  }

  function accept() {
  var username = "augpop-cookie";
  setCookie("username", username, 1);
  $("#augcust_popup").fadeOut(1000);
  }
  function checkCookie() {
  var username = getCookie("username");
  if (username != null && username != "") {
  document.getElementById("augcust_popup").style.display = "none";
  }
  else {
     document.getElementById("augcust_popup").style.display = "none";
    $("#augcust_popup").fadeIn(4000);
 // document.getElementById("augcust_popup").style.display = "block";
  }
  }
  function getCookie(c_name) {
  var i, x, y, ARRcookies = document.cookie.split(";");
  for (i = 0; i < ARRcookies.length; i++) {
                x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                x = x.replace(/^\s+|\s+$/g, "");
                if (x == c_name) {
                    return unescape(y);
                }
            }
        }
</script>