<div class=" custompage">
<div class="">
    {{pages.event-header-image.content}}
</div>
  
<div class="page-width cust_padding20 cust-event  text20 evas-mod">
  <div class="grid">
    <div class="grid__item ">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div >
        {{ page.content }}
        
        <div class="cust_eventmain clearfix">
        {{pages.event-custom-block1.content}}
        </div>
        {{pages.event-custom-block2.content}}
      </div>
    </div>
  </div>
</div>
