<div class="bespokepage custompage">
<div class="bespokeimg">
   {{pages.our-gemstone-header-image.content}}
</div>

<div class="page-width ">
  <div class="grid">
    <div class="grid__item ">
      <div class="cust_gemstone bespokesection">
      <div class=" text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="text-center custompage-txt">
        <div class="clearfix text-center">
        {{ page.content }}
        </div>
         {{pages.our-gemstone-custom-block1.content}}
         <div class="clearfix text-center">
         {{pages.our-gemstone-custom-block2.content}}
        </div>
      </div>
      </div>
     
       {{pages.our-gemstone-custom-block3.content}}
      
      
    </div>
  </div>
</div>
</div>



